h1{
	font-size: 60px;
	text-align: centre;
	color: #8EE4AF;
}

h1{
	text-align: center;
	font-family: Georgia;
}

li{
	font-family: Helvetica;
	font-size: 30px;
}

h2{
	font-family: Helvetica Neue;
	font-size: 40px;
}

img{
	text-align: right;
	max-height: 70px;
	max-width: 70px;
	height: 60px;
	width: 60px;
}

img{
text-align: center;
}

ol{
	font-family: Roboto, sans-serif;
}


body{
	background-color: #3778c2;
}

footer{
background-color: #8ee4af;
width:100%;
 position:absolute;;
 padding-left: 0px;
 text-align: center;
 font-family: Helvetica Neue;
}

footer{
	padding-bottom: 20px;
padding-top: 20px;
color: #3778c2;
}

background-image{
	background-image: url(file:///Users/cathysimon/Desktop/colon/Bg:colon.png);
}

span. img{
	text-align: center;
	
}

body{
	background-image: ;
}

button{
	padding: 20px;
	border-radius: 30px;
	border: double;
	padding-left: 30px;
	padding-right: 30px;
	background-color: white;

}

a{
	color: #379683;
}