h1{
	font-size: 60px;
	text-align: centre;
}

h1{
	text-align: center;
}

li{
	font-family: Helvetica;
	font-size: 30px;
}

h2{
	font-family: Baskerville;
	font-size: 40px;
}

img{
	text-align: right;
	max-height: 70px;
	max-width: 70px;
	height: 60px;
	width: 60px;
}

img{
	margin-left: 350px;
}

body{
	background-color: #FFCBBA;
}

p{
	color: #E6F8C3;
}
footer{
	background-color: #FFF8C8;
width:100%;
 position:absolute;;
 padding-left: 0px;
 text-align: center;
}

footer{
	padding-bottom: 20px;
padding-top: 20px;
}

body{
animation: ease-in;
}